[Unit]
Description=Appnity gunicorn socket

[Socket]
ListenStream=/run/gunicorn/appnity.sock
SocketUser=www-data
SocketMode=600

[Install]
WantedBy=sockets.target